[submodule "PyTrinamic"]
	path = PyTrinamic
	url = git@github.com:trinamic/PyTrinamic.git
        branch = master
[submodule "micropython"]
	path = micropython
	url = git@github.com:Lionheart1810/micropython.git
	branch = master
[submodule "pycopy-lib"]
	path = pycopy-lib
	url = git@github.com:Lionheart1810/pycopy-lib.git
