[submodule "PyTrinamic"]
	path = PyTrinamic
	url = ../PyTrinamic.git
    branch = master
[submodule "micropython"]
	path = micropython
	url = ../micropython.git
	branch = master
[submodule "pycopy-lib"]
	path = pycopy-lib
	url = ../pycopy-lib.git
	branch = master
